
**/Taskfile.yaml

aws-auth.yaml

01-install-and-setup/
**/02-built-in-resource-type/
/05-helm/
06-demo-application/
07-deploying-demo-application/
14-cicd/
#
Back/auth-service/secret-values.yaml
Back/auth-service/templates/kong-plugins.yml
Back/redis/secret-values.yaml 
ebs-policy.json
storage-class.yaml
.devbox/**/*

kong-gateway/
k-plug.yaml

**/secret-values.yaml

Back/central
Back/Mysql
Back/redis
Back/kafka
Back/kafka2
argocd-values.yaml
dg-group.yaml

kong-config.yaml
kong-plug.yaml
kong-proxy.yaml
kong-svc.yaml
kong-values.yaml
kong-deploy.yaml
alb-ingress.yaml

/helm
/common
Back/redis
**/pub-cert.pem
Back/Mysql
sealed-secrets-key.yaml
argo-rbac.yaml
**/secret.yaml
# **/sealed-secret.yaml
/argocd-cm.yaml
/argocd-values.yaml
/dg3-group.yaml
kong-consumer.yaml
kong-credential.yaml

front-service
**/monitoring
gp3-sc.yaml

kong2-proxy.yaml
cen-ingress2.yaml
# /front

anything.yml
kong-alb.yaml
kong-proxy4.yaml